.landing .landingBtnContainer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
  width: 100%;
}
.landingBtnContainer {
  margin: 5em auto;
  gap: 2em;
}
.landingBtnLogin {
  background-color: var(--clr-cta-primary);
}
.landingBtnCreate {
  background-color: var(--clr-cta-secondary);
}

/* .landingBtn:hover {
  box-shadow: inset 0 -10px 10px rgba(0, 15, 2, 0.2);
  background-color: var(--clr-cta-secondary);
  transition: 500ms;
} */
/* @media (max-width: 64em) {
  .landingBtnLogin,
  .landingBtnCreate {
    width: 6.5em;
    height: 2em;
  }
} */
