.landing .landingBtnContainer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
  width: 100%;
}
.landingBtnContainer {
  margin: 5em auto;
  gap: 2em;
}
.landingBtnLogin,
.landingBtnCreate {
  font-family: "Jolly Lodger", system-ui, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  background-color: var(--clr-cta-primary);
  width: 9em;
  height: 3em;
  border-radius: 0.4em;
  border: none;
  box-shadow: inset 0 -5px 10px rgba(1, 35, 4, 0.2);
  cursor: pointer;
}
.landingBtnCreate {
  background-color: var(--clr-cta-secondary);
}

/* .landingBtn:hover {
  box-shadow: inset 0 -10px 10px rgba(0, 15, 2, 0.2);
  background-color: var(--clr-cta-secondary);
  transition: 500ms;
} */
/* @media (max-width: 64em) {
  .landingBtnLogin,
  .landingBtnCreate {
    width: 6.5em;
    height: 2em;
  }
} */
