.footer {
  background-color: var(--clr-accent);
  width: 100vw;
  height: fit-content;
  margin-top: auto;
  padding: 10px 30px;
}
.footer__link {
  margin-bottom: 10px;
}

.footer__box-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  border: solid 2px var(--clr-primary);
  max-width: 250px;
}
.footer__title {
  color: var(--clr-primary);
  margin-bottom: 30px;
}

.footer__link-text {
  color: var(--clr-primary);
  font-size: 1rem;
}

.footer__icon {
  color: var(--clr-primary);
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
