.logoutbtn-box {
  display: flex;
  justify-content: end;
}

.logoutbtn {
  height: fit-content;
  width: fit-content;
  padding: 5px 7px;
  background-color: rgb(230, 44, 44);
  align-items: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
