.title {
  text-align: center;
  width: 100%;
  background-color: rgb(190, 164, 214);
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 2vw 1vw;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
}

.showpassword_box {
  display: flex;
  margin-top: 25px;
}
.showpassword_box span {
  margin-left: 10px;
  font-size: 18px;
}
.box input[type="checkbox"] {
  width: 16px;
}
