.register-form-container {
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 2rem;
}

.register-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.register-form-input {
  width: 22em;
  padding: 10px;
  border: 1.5px solid var(--clr-cta-primary);
  border-radius: 10px;
  box-sizing: border-box;
}

.register-form-show-password_box {
  display: flex;
}

.register-form-show-password_box span {
  margin-left: 10px;
  font-size: 18px;
}

.register-form-checkbox {
  width: 16px;
}

/* NEW css */

.register-form-have-an-account {
  background-color: var(--clr-cta-secondary);
  margin-bottom: 20px;
}

.register-form-submit-button {
  width: 15em;
  height: 4em;
  box-shadow: inset 0 -5px 10px rgba(1, 6, 35, 0.2);
  border-radius: 2em;
  border: none;
  cursor: pointer;
  color: var(--clr-secondary-text);
  background-color: var(--clr-cta-primary);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.space {
  margin-top: 10px;
}

.register-form-checkbox {
  margin-right: 5px;
}
